*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: rgb(214, 226, 240);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 400px;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}
.container img{
    width: 100%;
    border-radius: 1rem;
}

.container h1{
    font-size: 1.5em;
    margin: 2rem 0rem;
    color:  hsl(218, 44%, 22%);
}
.container p{
    font-size: 1.2em;
    color: hsl(220, 15%, 55%);
    margin-bottom: 2rem;
}

